
{% extends "base.html" %}

{% block contenido %}
<h2>Sobre Mi</h2>
<p>Me gusta mucho jugar videojuegos,cocinar y hacer manualidades. me gusta pasar un rato en familia ya sea jugando juegos de mesa o peliculas u otra actividad aparte de todo me emociona todo lo que es colecionable como ejemplos los funkos, cartas pokemon o ya sea productos oficiales de famoso o marcas de animacion </p>
<p>Estudio en el CETis61 y escogi la carrera de programacion voy en el quinto semestre</p>
<p>La verdad no se que quiera estudiar todavia pero me gustaria estudiar ua carrera que pague bien y despues meterme a un curso de reposteria</p>
<p>Carvajal Bustillos Gael Alan</p>
{% endblock %}
