
{% extends "base.html" %}

{% block contenido %}
    <div class="text-center">
            <h2>Bienvenido a la Página de Inicio</h2>
            <p class="mt-3">
            En esta página se mostrará información sobre de qué trata el sitio web y qué podrá encontrar en él.
            Aquí el usuario podrá conocer una introducción general al contenido que abordan las demás secciones,
            como los animales exóticos, los vehículos antiguos y las maravillas del mundo.
            </p>
            <p>
            Además, esta sección incluirá imágenes ilustrativas y una breve descripción del propósito de la página,
            brindando una vista general antes de explorar las demás categorías.
            </p>
    </div>
{% endblock %}
